<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="<%= @blog_author %>">

    <title><%= title @conn %></title>

    <%= if @use_default_style do %>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <% end %>

    <%= if @custom_style_path != nil do %>
      <link rel="stylesheet" href="<%= @custom_style_path %>">
    <% end %>

    <%= if @enable_feeds do %>
      <%= if assigns[:page_type] == :tag do %>
        <link href="<%= @absolute_url %><%= feed_path @conn, :tag, @tag %>" rel="alternate" type="application/rss+xml" title="RSS feed for tag <%= @tag %>" />
      <% else %>
        <link href="<%= @absolute_url %><%= feed_path @conn, :index %>" rel="alternate" type="application/rss+xml" title="RSS feed" />
      <% end %>
    <% end %>
  </head>

  <body>
    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
          <a href="<%= @absolute_url %>"><h1 class="brand-title"><%= @blog_name %></h1></a>

          <nav class="nav" role="navigation">
            <ul class="nav-list">
              <%= for menuitem <- @menu do %>
                <li class="nav-item">
                  <a class="pure-button" href="<%= menuitem.slug %>"><%= menuitem.title %></a>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>

      <main class="content pure-u-1 pure-u-md-3-4">
        <div>
          <div class="posts">
            <%= render @view_module, @view_template, assigns %>
          </div>

          <footer class="footer">
            <% footer = custom_footer_html() %>
            <%= if footer != nil do %>
              <%= raw footer %>
            <%= else %>
              <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-3">
                  © <%= @blog_author %>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                  <a href="https://blog.nytsoi.net/mebe">
                    Powered by Elixir + Phoenix + Mebe
                  </a>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                  <% {time, unit} = request_time(@conn) %>
                  Rendered in <%= time |> safe_round() |> trunc() %>&nbsp;<%= unit %>.
                </div>
              </div>
            <% end %>
          </footer>
        </div>
      </main>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

      <%= raw extra_html() %>
    </div>
  </body>
</html>
