<%= for post <- @posts do %>
  <% {{year, month, day}, _} = DateTime.to_erl(post.datetime) %>

  <%
    # Justified versions of the month and day
    {j_month, j_day} = {
      String.rjust(Integer.to_string(month), 2, ?0),
      String.rjust(Integer.to_string(day), 2, ?0)
    }
  %>

  <%
    {:ok, rfc_time} = strftime(post.datetime, "%a, %e %b %Y %T %Z")
  %>

  <item>
    <title>
      <![CDATA[<%= post.title %>]]>
    </title>

    <%= if @multi_author_mode do %>
      <dc:creator><%= get_author(post) %></dc:creator>
    <% end %>

    <link><%= @absolute_url %><%= page_path @conn, :post, year, j_month, j_day, post.slug %></link>
    <guid><%= @absolute_url %><%= page_path @conn, :post, year, j_month, j_day, post.slug %></guid>
    <description>
      <![CDATA[

      <%= if show_full() do %>
        <%= post.content %>
      <% else %>
        <%= post.short_content %>
      <% end %>

      <a href="<%= @absolute_url %><%= page_path @conn, :post, year, j_month, j_day, post.slug %>">
        Read more…
      </a>

      ]]>
    </description>
    <pubDate><%= rfc_time %></pubDate>
  </item>
<% end %>
