<section class="post">
  <h1>HTTP/1.1 404 Not Found</h1>

  <p>
    You tried to find something that doesn’t exist. Maybe it did at some point, but it sure doesn’t anymore.
  </p>

  <p>
    <a href="<%= home_url() %>">Go away</a>.
  </p>
</section>
