<% month = String.rjust(Integer.to_string(@month), 2, ?0) %>

<h1 class="content-subhead">
  Viewing posts for the month <em><%= @year %>-<%= month %></em>.
</h1>

<%= render "postlist.html", assigns %>
