<section class="post">
  <header class="post-header">
    <h2><%= @page.title %></h2>
  </header>

  <main class="post-description">
    <%= raw @page.content %>
  </main>

  <%= if @disqus_comments and @page_commenting do %>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = "<%= @disqus_shortname %>";
        var disqus_title = "<%= @page.title %>";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
    </noscript>
  <% end %>
</section>
