<%= for post <- @posts do %>
  <%= render "post_elem.html", Map.merge(assigns, %{post: post, short: true}) %>
<% end %>

<%
  pagination_args = [@conn, @page_type | @page_args]
  total_pages = trunc Float.ceil(@total_count / @posts_per_page)
%>

<%= if @total_count > @posts_per_page do %>
  <nav class="pure-button-group" role="navigation">
    <%= if (@current_page - 1) < 1 do %>
      <a class="pure-button pure-button-disabled">
        &laquo;
      </a>
    <%= else %>
      <a class="pure-button" href="<%= apply(MebeWeb.Router.Helpers, :page_path,  pagination_args ++ [@current_page - 1]) %>">
        &laquo;
      </a>
    <% end %>

    <%= for page_no <- 1..total_pages do %>
      <%
        active_class = case page_no == @current_page do
          true -> "pure-button-active"
          _ -> ""
        end
      %>
      <a class="pure-button <%= active_class %>" href="<%= apply(MebeWeb.Router.Helpers, :page_path, pagination_args ++ [page_no]) %>">
        <%= page_no %>
      </a>
    <% end %>

    <%= if (@current_page + 1) > total_pages do %>
      <a class="pure-button pure-button-disabled">
        &raquo;
      </a>
    <%= else %>
      <a class="pure-button" href="<%= apply(MebeWeb.Router.Helpers, :page_path, pagination_args ++ [@current_page + 1]) %>">
        &raquo;
      </a>
    <% end %>
  </nav>
<% end %>
