<% {{year, month, day}, _} = DateTime.to_erl(@post.datetime) %>

<%
  # Justified versions of the month and day
  {j_month, j_day} = {
    String.rjust(Integer.to_string(month), 2, ?0),
    String.rjust(Integer.to_string(day), 2, ?0)
  }
%>

<%
  author = get_author(@post)
%>

<section class="post">
  <header class="post-header">

    <%= if @short do %>
      <a href="<%= page_path @conn, :post, year, j_month, j_day, @post.slug %>">
        <h2 class="post-title"><%= @post.title %></h2>
      </a>
    <%= else %>
      <h2 class="post-title"><%= @post.title %></h2>
    <% end %>

    <p class="post-meta">
      <span>
        Posted on

        <%= if @post.time_given do %>
          <%= strftime!(@post.datetime, "%e %b %Y %H:%M %Z") %>
        <% else %>
          <%= strftime!(@post.datetime, "%e %b %Y") %>
        <% end %>

        <%= if @multi_author_mode and author != nil do %>
          by <a class="post-author" href="<%= page_path(@conn, :author, slugify(get_author(@post)), 1) %>"><%= get_author(@post) %></a>
        <% end %>
      </span>

      <%= if not Enum.empty?(@post.tags) do %>
        with tags

        <%= for tag <- @post.tags do %>
          <a class="post-category post-category-<%= tag %>" href="<%= page_path @conn, :tag, tag, 1 %>"><%= tag %></a>
        <% end %>
      <% end %>
    </p>
  </header>

  <%= if @short do %>
    <main class="post-description">
      <%= raw @post.short_content %>

      <%= if @force_read_more or @post.has_more do %>
        <p>
          <a href="<%= page_path @conn, :post, year, j_month, j_day, @post.slug %>">
            Read more…
          </a>
        </p>
      <% end %>
    </main>
  <% else %>
    <main class="post-description">
      <%= raw @post.content %>
    </main>
  <% end %>

  <%= if not @short and @disqus_comments do %>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = "<%= @disqus_shortname %>";
        var disqus_title = "<%= @post.title %>";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus</a>.
    </noscript>
  <% end %>

</section>
